# Python
__pycache__/
*.py[cod]
*.class
venv/
env/

# Логи
*.log
worker.log

# IDE
.vscode/
.idea/

# Playwright
debug_table.html

# OS
.DS_Store
Thumbs.db

# Database
tasks.db

# Cookies backup
cookies_backup/
